.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.grassetto {
  font-weight: bold;
  font-size: 1.5rem !important;
}
.printTab {
  /* width: 350px; */
}
.riga1 {
  /* width: 350px !important; */
}

.commandLog {
  height: 255px!important;
  font-size: 0.81rem;
}

.fontMonospace {
  font-family: "Lucida Console", Monaco, monospace;
}

.progressBar {
  height: 20px!important;
  font-size: 15px;
}

.emergencyStopIcon {
  width: 60px;
}
.emergencyStopBtn {
  padding: 0px 0px 0px 0px !important;
  background: none !important;
  border: none !important;
}
.emergencyStopBtn:hover, ..emergencyStopBtn:focus {
  padding: 0px 0px 0px 0px !important;
  background: none !important;
  border: none !important;
  outline: none !important;
}
.navItemPrinters {
  border-color: lightgrey !important;
}
.navItemPrintersActive {
  border-bottom: none !important;
  border-color: darkgray !important;
  border-width: 2.5px !important
}
.fileUploadInput {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.fileUpload {
  background-color: #007bff;
  border: none;
}
::-webkit-file-upload-button, ::-ms-browse {
  background-color: #007bff;
  /* border-color: black;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 3px; */
  border: none;
  font-weight: bold;
  color: white;
}
::-webkit-file-upload-button:hover,::-webkit-file-upload-button:active,::-webkit-file-upload-button:focus,
::-ms-browse:hover, ::-ms-browse:active, ::-ms-browse:focus {
  background-color: #006fe6;
  /* border-color: black;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 3px; */
  color: white;
}

.circleRed {
  color: red;
}
.circleGreen {
  color: green;
}
.circleYellow {
  color:yellow;
}
.positionBadge {
  font-size: 1.58rem !important;
}
.temperatureBadge {
  font-size: 0.9rem !important;
  color: #5a6169 !important;
  border: none !important;
}
.temperatureNumberInput {
  width: 7ch;
  border-width: 1px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  border-radius: 3px;
}
.temperatureNumberInput:hover, .temperatureNumberInput:active, .temperatureNumberInput:focus {
  border-width: 1px;
  border-style: inset;
  border-color: rgb(118, 118, 118) !important;
  border-image: initial;
  border-radius: 3px;
}
.printParamsSlider {
  width: 25.6vh !important;
}
